inputs/
results/
src/ice_manager.py
*.png
src/__pycache__/*
backbones_all
eAcceptors_all
eDonors_all
testing_results/results2
testing_results/results_seq
notes.txt
testing_results
results_cp
qsub_queue
.DS_Store
Benchmark/
src/exc.json
last_qsub
user
gen_qsub_queue
results_1st.json
results_1st/
og_results.json
output.log
*.png
*.tex
og_results.json
*.txt
tmp*
results_exc_og.json
theoretical_e2.csv
data_analysis
DFTpieces/
json_test
json_test.json
test.json
Benchmark_1/
Benchmark_2/
test.smi
backbones_ds3/
eDonors_ds3/
